:root {
  --gun-metal-gray: #222222; /* Background for pages */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--gun-metal-gray);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 0em 4em;
}

/**
  * Fonts
  */

.text-xl {
  font-size: 3em;
}

.text-l {
  font-size: 3em;
}

.text-m {
  font-size: 1.6em;
}
