:root {
  --gun-metal-gray: #222222; /* Background for pages */
  --emerald: #5bd774;
  --medium-purple: #8774d2;
  --active-color: var(--emerald);
  --vivid-sky-blue: #5CD6FF;
  --shocking-pink: #FB23C1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--gun-metal-gray);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 0em 4em;
}

ul {
  padding-left: 0;
}

/**
  * Fonts
  */

.text-xl {
  font-size: 3em;
}

.text-l {
  font-size: 3em;
}

.text-m {
  font-size: 1.6em;
}

/**
 * Pages
 */

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 2em 0;
}

.main {
  min-height: 80vh;
}

.main h1 {
  text-transform: uppercase;
  text-align: center;
}

.about-page {
  --active-color: var(--shocking-pink);
}

.posts-page {
  --active-color: var(--vivid-sky-blue);
}
