.home {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  text-align: center;
}

.home h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}
.home h2 {
  text-transform: uppercase;
  margin: 0;
}
